absl-py==0.9.0
astor==0.8.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
dill==0.3.1.1
fire==0.3.1
gast==0.3.3
grpcio==1.27.2
h5py==2.10.0
idna==2.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.1.1
matplotlib==3.2.1
msgpack==1.0.0
msgpack-numpy==0.4.6.post0
numpy==1.18.1
opencv-python==4.2.0.34
protobuf==3.11.3
psutil==5.7.0
PyOpenGL==3.1.1a1
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqtgraph==0.10.0
pyreadline==2.1
python-dateutil==2.8.1
pyzmq==19.0.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
tabulate==0.8.7
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorpack==0.10.1
termcolor==1.1.0
tqdm==4.46.0
urllib3==1.25.9
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
